/docs
Documentation.lnk
/OpenCLRayTracer/Assets
/OpenCLRayTracer/Debug
/Debug/OpenCLRayTracer.pdb
/Debug/OpenCLRayTracer.exe
/Debug/OpenCLRayTracer.ilk
/Debug/Assets
/regenDocs.bat
/OpenCLRayTracer/RayTraceOutput.png
