/docs
Documentation.lnk
/OpenCLRayTracer/Assets/font
/OpenCLRayTracer/Assets/img
/OpenCLRayTracer/Debug
/Debug/OpenCLRayTracer.pdb
/Debug/OpenCLRayTracer.exe
/Debug/OpenCLRayTracer.ilk
/Debug/Assets
/regenDocs.bat
/Release
/OpenCLRayTracer/Release
/OpenCLRayTracer/RayTraceOutput/*.png
